<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="endpoint1" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="endpoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10001/ComplexCalculator/endpoint"
                binding="wsHttpBinding" bindingConfiguration="endpoint" contract="ServiceReference1.IComplexCalculator"
                name="endpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-SL6MESN\Konrad" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9099/CallbackCalculator/endpoint"
                binding="wsDualHttpBinding" bindingConfiguration="endpoint1"
                contract="ServiceReference2.ICallbackCalculator" name="endpoint1">
                <identity>
                    <userPrincipalName value="DESKTOP-SL6MESN\Konrad" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>