<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="endpoint2" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculator" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="endpoint1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/Calculator/endpoint1"
                binding="wsHttpBinding" bindingConfiguration="endpoint1" contract="ServiceReference1.ICalculator"
                name="endpoint1">
                <identity>
                    <userPrincipalName value="DESKTOP-SL6MESN\Konrad" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9000/Calculator/endpoint2"
                binding="basicHttpBinding" bindingConfiguration="endpoint2"
                contract="ServiceReference1.ICalculator" name="endpoint2" />
            <endpoint address="http://localhost:9001/Calculator/endpoint3"
                binding="basicHttpBinding" bindingConfiguration="endpoint2"
                contract="ServiceReference1.ICalculator" name="endpoint3" />
            <endpoint address="net.tcp://localhost:30000/CalculatorTCP" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalculator" contract="ServiceReference1.ICalculator"
                name="NetTcpBinding_ICalculator">
                <identity>
                    <userPrincipalName value="DESKTOP-SL6MESN\Konrad" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>